<h1>Message sent!</h1>

<p>Thank you, {{name}}, your message has been sent. We have emailed a copy of the message to your email address as well along with the required background check authorization form as an attachment.</p>

<p>If for some reason you do not receive the email or cannot open the attachment, you can <b><a href="content/CoderDojoPonceSprings-BackgroundCheckAuthorization.pdf">download the background check authorization form here</a></b>

<p>
To help us ensure child safety at CoderDojo Ponce Springs events, please complete the background check authorization form and then scan/email it back to <a href="mailto:HR@VersionOne.com">HR@VersionOne.com</a> or fax it to VersionOne’s confidential fax
at 678-261-5106.
</p>