/* app css stylesheet */

body {
  margin: 10px;
}

.required {
  font-weight: bold;
}

.btn span {
  vertical-align: middle;
}

label {
	text-decoration: underline;
}

label:after {
	content: ':';
}

div#message h4:after {
	content: ':';
}